<%= @license_dat%>
<license id=<%= @license_id%>>
    <name>Server License</name>
    <vendor>YesLogic</vendor>
    <product>Prince</product>
    <version>7.1</version>
    <end-user>Chronus</end-user>
    <date>2010-08-02</date>
    <signature><%= @license_signature%></signature>
    <option id="upgrades">20110802</option>
</license>
